body {
    margin: 0;
    color: blue;
  }

canvas {
  background-color: lightblue;
  width: 800px;
  height: 800px;
}

#scene-container {
  background-color: lightblue;
  width: 80vw;
  height: 800px;
  margin: 0 auto;
}